@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
.clearfix{
	overflow:auto;
}
/* Header */
		body{
			background:linear-gradient(180deg, rgb(240,128,128) ,rgb(255,255,255)	);
			margin: 0;
			padding: 0;
			height: 100%;
			width: 1518px;
			padding: 20px 0 0 0;
		}
		div.header{
			background-color: lightcoral;
		}
		div.logo > img{
			float:left;
			height:200px;
			width: 490px;
			margin-left: 20px;
		}
		div.find {
			overflow: auto;
			padding-top: 5px;
			float: right;
		}
		div.input{
			float: left;
		}
		input[type = text]{
			margin-left: 200px;
			height: 30px;
			padding: 5px;
			padding-bottom: 3px;
			border-radius: 5px;
			font-size: 22px;
		}
		div.search{
			float: left;
		}

		div.search > a > img{
			width: 30px;
		}


/* Menu */
		div.menu {
			z-index: 100;
		
	
}
		ul{
			list-style-type:none;
			margin:0;
			padding:0;
		}
		div.menu > ul{
			margin: 0;
			padding: 0;
			background-color: black;
		}
		div.menu > ul > li{
			float:left;
			padding: 0;
		}

		div.menu > ul > li > a, ul.detailmenu > li {
			display:block;
			padding: 10px 15px;
			text-decoration:none;
			color:white;
			font-size: 20px;
			font-weight:bold;
			white-space: nowrap;
			text-transform: uppercase;
				
		}
		.menu-item{
			width: 140px;
			margin: auto;
			text-align: center;
		}

/* Đăng ký- Đăng nhập*/
		li.join{
			display: none;
			position: absolute;
			list-style-type: none;
			color: black;
			z-index: 1;
		}
		#cuoi{
			margin-left: 88px;
		}
		#cuoi:hover li.join{
			display: block;
		}
		.right1{
			margin-left: 700px;
			display: block;
		}
		#In{
			display: none;
			position: relative;
		}
		.join > a:hover, #cuoi > a:hover{
			text-decoration: underline;
		}
		/* Detailmenu*/
		ul.detailmenu{
			display:none;
			position:absolute;
			background-color:black;
			z-index:99;
		}
		li.submenu:hover ul.detailmenu{
			display:block;
			cursor: pointer;
		} 
		ul.detailmenu > li {
			display: block;	
		}
		.menu-item:hover{
			text-decoration: underline;
		}

/*hiệu ứng Slide Show cho Quảng cáo*/
		div.slideshow-container {
		  max-width: 500px;
		  position: relative;
		  margin: auto;
			float:left;
			margin-top: 18px;
			padding-left: 8px;

		}
		div.showoff > img{

			padding-top: 15px;
			width: 450px;
			height: 515px;
		}
		span.dot {
		  cursor:pointer;
		  height: 13px;
		  width: 13px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;

		}
		.dot:hover {
		  background-color: #717171;
		}
		.showoff {
		  -webkit-animation-name: fade; /*Hỗ trợ cho GG Chorme và Safari*/
		  -webkit-animation-duration: 3s;
		  animation-name: fade;/*tên animation*/
		  animation-duration: 3s;/*thời gian*/
		animation-iteration-count: infinite;/*chuyển động lặp vô hạn*/

		}
		.showoff.hide-first{
			display:none;
		}
		@-webkit-keyframes showoff {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes showoff {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

/*advertisement- đưa button đè lên quảng cáo*/
		div.advertisement{
			height: 550px;
			position: relative;
			margin: 0px auto;
		}
		div.SlideButton{
			position: absolute;
			left:190px;
			top:490px;
		}

/*advertisement-lưới quảng cáo*/
		.up{
			margin: 30px 2px 3px;
			width: 1010px;
			height: 200px;
			float: right;
		}
		.up img{
			height: 200px;
			width: 300px;
		}
		.up img:nth-child(2), .down img:nth-child(2){
			width: 390px;
		}
		.up img:last-child{
			width: 345px;
		}
		.new{
			float: right;
			width: 1009px;
			height: 105px; 	
			margin: 3px 1px 3px;
		}
		.down img{
			height: 185px;
			width: 300px;
		}
		.down img:last-child{
			border-bottom-right-radius: 15px;
		}

		.new img{
			height: 100%;
			width: 99%;
		}
		.down{
			margin:3px 1px;
			width: 1009px;
			height: 200px;
			float: right;
		}
/*Footer*/
		div#footer {
			border-top: 1px solid lightcoral;
			clear: both;
			padding: 10px;
		}

		div#footer div.F-left {
			float: left;
			width: 340px;
		}

		div#footer div.F-right {
			float: right;
			margin-top: 40px;
			width: 530px;
		}

		div#footer div.F-right ul {
			text-align: right;
			margin-bottom: 10px;
		}

		div#footer div.F-right ul li {
			display: inline;
			border-right: solid 1px #333;
			padding: 0 5px;
		}

		div#footer div.F-right ul li.last {
			border-right: none;
			padding-right: 0;
		}
		div#footer div.F-right p {
			text-align: right;
		}

		div#footer {
			zoom: 1;
		}

		div#footer:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	
		div#pageBody:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}

/*Tạo nút Back to top*/
		#myBtn {
			display: none; /* Ẩn mặc định */
			position: fixed; /*Cố định vị trí*/
			bottom: 20px; /* Đặt nút ở cuối trang */
			right: 30px; 
			z-index: 99; /* Đảm bảo không nằm chồng lên nhau */ 
			outline: none; 
			background-color: lightcoral; 
			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			color: white; 
			cursor: pointer; 
			padding: 15px; 
			font-size: 18px; 
		}

		#myBtn:hover {
			background-color:brown; 
		}

/*Show hang*/
		.products{
			width: 1499px;
			height: 1000px;
			float: left;
		}
		ul.ul_products{
			padding:0;
		}
		.show{
			display: block;
		}

		.hidden{
			display: none;
		}
		.pane {
			height: 790px;
		}
		.show-hang{
			padding: 0;
			margin: auto;
		}

		.btn{
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			cursor: pointer;
			color: #8B0000;
			font-weight: bold;
			border: 1px solid #DC143C;
			border-radius: 4px;
			background-color: white;
			text-transform: uppercase;
			transition: 0.5s;
		}
		.btn:hover{
			font-size:17px;
			box-shadow: 3px 3px gray;
		}
		.show-hang > ul > li {
			width: 33%;
			text-align: center;
		}

		.clearfix > li:hover{
			cursor: pointer;
		}
		.clearfix > li{

			display:inline;
		}
		.row{
			margin-right: 15px;
			margin-left: 15px;
			display: block;

		}
		.margin-bot{
			margin-bottom: 10px;
		}
/*Lưới show hàng - class="lens"*/
		.pane{
			height: 900px;
		}
		.show-pane {
			margin-left: 15px;
			margin-top: 15px;
			width: 1000px;
			height: 200px;
		}
		.show-pane img{
			height: 200px;
			width: 300px;
		}
		.hidden-pane{
			margin-left: 15px;
			margin-top: 15px;
			width: 1000px;
			height: 200px;
		}
		.hidden-pane img{
			height: 200px;
			width: 300px;
		}
		#div-new-collection img, #div-best-seller img, #div-accesorize img{
			width: 346px;
			height: 340px;
			margin:23px 10px;
			margin-bottom: 0;
			transition:none;
			background-color:white;
			border-radius: 4px;
			transition: 0.5s;
		}
		#div-new-collection :hover, #div-best-seller :hover, #div-accesorize :hover{
			transform:scale(1.05,1.05);
		}
		.demo{
			float:left;
			height: 450px;
			text-align: center;
			margin-left: 5px;
		}
		#div-new-collection div.marginL {
			margin-left: 0;
		}
		#div-best-seller div.marginL {
			margin-left: 0;
		}
		#div-accesorize div.marginL {
			margin-left: 0;
		}
		.content{
			overflow: auto;
			font-size: 25px;
			font-weight: bold;
		}
		.content > a:hover{
			color:#DC143C;
		}


